* {
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-size: 20px;
}
h1 {
  font-size: 100px;
  font-family: fantasy;
}
ul.navigation {
  padding: 0;
  text-align: center;
}
.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 2px 5px;
}
.navigation a {
  color: black;
  text-decoration: none;
  border: 1px solid rgb(135, 138, 138);
  background: rgb(223, 229, 230);
  border-radius: 3px;

  min-width: 80px;
  display: inline-block;
}
.navigation a.active {
  color: rgb(100, 40, 100);
  background: rgb(149, 230, 230);
}
